{% extends 'base1.html' %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}
    {{ block.super }} - {{ doctor.first_name|lower|capfirst }}'s Profile
{% endblock %}

{% block body %}
    {# Display profile information #}
    <div class="grid-25">
        {% if doctor.docprofile.avatar %}
            <img class="img-responsive img-circle" src="{{ doctor.docprofile.avatar.url }}">
        {% else %}
            <img class="img-responsive" src="{% static 'img/765-default-avatar.png' %}">
        {% endif %}
    </div>
    <div class="grid-65">
        <h1>Your Profile</h1>
        <h2>First Name</h2>
        <p>{{ doctor.first_name|lower|capfirst }}</p>
        <h2>Last Name</h2>
        <p>{{ doctor.last_name|lower|capfirst }}</p>
        <h2>Email</h2>
        <p>{{ doctor.email }}</p>
        <h2>Date of Birth</h2>
        {% if doctor.docprofile.dob %}
            <p>{{ doctor.docprofile.dob|date:"F d, Y" }}</p>
        {% else %}
            <p>Add date of birth by clicking <a href="#edit_button">edit button</a> below.</p>
        {% endif %}
        <h2>Location</h2>
        {% if doctor.docprofile.location %}
            <p>{{ doctor.docprofile.location }}</p>
        {% else %}
            <p>Add city and state by clicking <a href="#edit_button">edit button</a> below.</p>
        {% endif %}
        <div id="#edit_button" class="row buttons">
            <a id="#edit_button" href="{% url 'index:edit_profile' %}"  class="button" role="button" style="text-decoration: none;">Edit Profile</a>
            <a href="{% url 'index:change_password' %}" class="button" role="button" style="color: #222f3e; border-color: #222f3e; text-decoration: none;">Change Password</a>
        </div>
    </div>
{% endblock %}