{% extends 'index/base1.html' %}
{% block title %}doctor{% endblock %}
{% block pat1 %}
    
{% endblock %}
{% block body %}
<div class="content py-5  bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <span class="anchor" id="formUserEdit"></span>
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Welcome {{ doctor.first_name }} {{ doctor.last_name }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <img src="{{ doctor.profile_pic.url }}" class="img-circle profile-avatar img-responsive" alt="User avatar">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">First name</label>
                            <div class="col-lg-9">
                                <p>{{ doctor.first_name }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                            <div class="col-lg-9">
                                <p>{{ doctor.last_name }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <p>{{ doctor.email }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Address</label>
                            <div class="col-lg-9">
                                <p>{{ doctor.address }}</p>
                            </div>
                        </div>   
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Degree</label>
                            <div class="col-lg-9">
                                <p>{{ doctor.degree }}</p>
                            </div>
                        </div>     
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Username</label>
                            <div class="col-lg-9">
                                <p>{{ user.username }}</p>
                            </div>
                        </div>    
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <a href="{% url 'index:doc-profile-update' %}">Edit Profile</a>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}